body {
	background-color: darkseagreen;
	background-image: url();
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	margin: 0px;
}

nav {
	flex: auto;

}

.navigatie {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	background-color: #0026cc;
	overflow-x: scroll;
	margin: 0px;
}


#home {
	padding: 0px;
	max-width: 50px;
}

ul {
	padding: 1em;


}

li {
	padding: 0em;
	margin: 1em;
	justify-content: space-around;
	text-decoration: none;

}

a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a:hover {
	font-weight: 200px;
}

.navigatie a {
	text-align: center;
	display: block;
	justify-content: center;
	text-decoration: none;
	font-family: Courier New;
	font-size: 1em;
	color: ghostwhite;
	padding: 10px;
}

section {
	display:flex;
	
}

article {
	margin: 10px;
	padding: 1vh;
	background-color: blue;
}

h2, p {
	text-align: center;
}

img {
	max-width: 20em;
	padding: 20px 40px;
	display: flex;
}
